.main {
    -fx-background-color: #747f81;
    -fx-background-radius: 10px
}


.button.premium {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(to bottom, #c8c5c5, #e9e4e4);
    -fx-text-fill: #000000;
    -fx-font-family: 'Dyuthi Regular';
    -fx-font-size: 17px;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
    -fx-transition: transform 0.3s, glow 0.3s;
}

.button.premium:hover {
    -fx-background-color: linear-gradient(to bottom, #e9e4e4, #c8c5c5);
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0, 0, 0),
                inner-shadow(gaussian, rgba(255, 255, 255, 0.7), 5, 0.8, 0, 0);
    -fx-glow-amount: 0.5; 
}

.label {
    -fx-font-family: "Dyuthi Regular";
    -fx-font-size: 25.0px;
    -fx-cursor: hand;
    -fx-text-fill: black;
}

.label:hover {
    -fx-underline: true;
    -fx-effect: dropshadow(three-pass-box, #ffffff, 10, 0, 0, 0);
}

.arrow {
    -fx-cursor: hand; 
    -fx-fill: #000000;
    -fx-font-family: "Dyuthi Regular";
    -fx-font-size: 30px;
}

.arrow:hover {
    -fx-fill: #c8c5c5;
}

.context-menu {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}

.context-menu .menu-item {
    -fx-cursor: hand;
    -fx-padding: 10px 5px 10px 15px;
    -fx-text-fill: #000000;
}

.context-menu .menu-item:hover {
    -fx-background-color: #dddddd;
}

.context-menu .menu-item:focused {
    -fx-background-color: #aaaaaa;
}

.context-menu .menu-item:selected {
    -fx-background-color: #aaaaaa;
}

.context-menu .menu-item .label {
    -fx-font-size: 18px;
}
