.song-pane:hover{
    -fx-background-color: #687172;
}

.song-pane:hover > ImageView {
    -fx-opacity: 0.7;
}

.song-pane > * {
    -fx-background-color: inherit;
}


.song-title:hover,
.song-author:hover {
    -fx-text-fill: #555555;
}

.playMediaImage {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
    -fx-transition: all 0.3s;
}

.playMediaImage:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0, 0, 0);
}
