.vbox-item > * {
    -fx-background-color: inherit;
}

.vbox-item:hover .item-title,
.vbox-item:hover .item-desc,
.vbox-item:hover {
    -fx-background-color: #687172;
}

.vbox-item {
    -fx-border-radius: 10px;
}

.playMediaImage {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
    -fx-transition: all 0.3s;
}

.playMediaImage:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0, 0, 0);
}
