.auth-button {
    -fx-background-color: #5db75d;
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-font-family: "monospace";
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: pointer;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-background-radius: 10px;
}

.auth-button:hover {
    -fx-background-color: #4aaf4a;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 15, 0, 0, 0);
}
