.auth-button {
    -fx-background-color: #5db75d;
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-font-family: "monospace";
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: pointer;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-background-radius: 10px;
}

.auth-button:hover {
    -fx-background-color: #4aaf4a;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 15, 0, 0, 0);
}

.title-field {
    -fx-text-fill: #8a4949;
}

.text-field {
    -fx-font-family: 'Dyuthi Regular';
    -fx-background-color: #f8f8f8;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #999999;
    -fx-font-size: 18px;
}

.text-field:focused {
    -fx-font-family: 'Dyuthi Regular';
    -fx-border-color: #4CAF50;
    -fx-background-color: #ffffff;
    -fx-font-size: 18px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
    -fx-font-family: 'Dyuthi Regular';
    -fx-font-size: 16px;
    -fx-padding: 12px 24px;
}

.button:hover {
    -fx-background-color: #45a049;
}

.button:pressed {
    -fx-background-color: #36752d;
}

.signup-link {
    -fx-font-weight: bold;
    -fx-text-fill: #da5252;
    -fx-font-size: 13px;
    -fx-font-family: monospace;
}

.bottom-text{
    -fx-font-size: 13px;
    -fx-font-family: monospace;
}

.im-label .error-message{
    -fx-font-family: 'Dyuthi Regular';
    -fx-font-size: 16px;
}

.custom-choice-box {
    -fx-font-family: 'Dyuthi Regular';
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.custom-choice-box .arrow {
    -fx-background-color: transparent;
}

.custom-choice-box .arrow-button {
    -fx-background-color: transparent;
}

.custom-choice-box .arrow-button:hover {
    -fx-background-color: #f0f0f0;
}
