.main {
    -fx-background-color: #747f81;
    -fx-background-radius: 10px
}

.title-label{
    -fx-font-family: 'DejaVu Serif Bold';
    -fx-font-size: 22px;
    -fx-cursor: hand;
    -fx-text-fill: black;
}

.title-label:hover{
    -fx-underline: true;
    -fx-effect: dropshadow(three-pass-box, #ffffff, 10, 0, 0, 0);
}

.author-label{
    -fx-font-family: 'Monospaced Regular';
    -fx-font-size: 15px;
    -fx-cursor: hand;
    -fx-text-fill: black;
}

.author-label:hover{
    -fx-underline: true;
    -fx-effect: dropshadow(three-pass-box, #ffffff, 10, 0, 0, 0);
}

.icon {
    -fx-cursor: hand;
}

.icon:hover {
    -fx-opacity: 0.5;
}

.slider .track {
    -fx-background-color: #c8c5c5;
    -fx-background-radius: 0;
    -fx-padding: 0 0 2px 0;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.slider .thumb {
    -fx-background-color: #1ed760;
    -fx-background-radius: 10px;
}
