.title-field {
    -fx-font-family: 'Dyuthi Regular';
    -fx-text-fill: #8a4949;
    -fx-font-size: 40px;
    -fx-alignment: center;
}

.text-field {
    -fx-font-family: 'Dyuthi Regular';
    -fx-background-color: #f8f8f8;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 2px;
    -fx-padding: 10px;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #999999;
    -fx-font-size: 18px;
}

.text-field:focused {
    -fx-font-family: 'Dyuthi Regular';
    -fx-border-color: #4CAF50;
    -fx-background-color: #ffffff;
    -fx-font-size: 18px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
    -fx-font-family: 'Dyuthi Regular';
    -fx-font-size: 16px;
    -fx-padding: 12px 24px;
}

.button:hover {
    -fx-background-color: #45a049;
}

.button:pressed {
    -fx-background-color: #36752d;
}

.signup-link {
    -fx-font-weight: bold;
    -fx-text-fill: #da5252;
    -fx-font-size: 13px;
    -fx-font-family: monospace;
}

.bottom-text{
    -fx-font-size: 13px;
    -fx-font-family: monospace;
}

.custom-choice-box {
    -fx-font-family: 'Dyuthi Regular';
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: 4px;
}

.custom-choice-box .arrow {
    -fx-background-color: transparent;
}

.custom-choice-box .arrow-button {
    -fx-background-color: transparent;
}

.custom-choice-box .arrow-button:hover {
    -fx-background-color: #f0f0f0;
}

.im-label .error-message{
    -fx-font-family: 'Dyuthi Regular';
    -fx-font-size: 16px;
}